.contenido{
    display: grid;
    gap: 4rem;

}

@media screen and (min-width: 768px) {
    .contenido{
        grid-template-columns: 3fr 1fr;
        align-items: flex-start;
    }
}

.carrito{
    padding: 3rem 0; 
   
}

.prod{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap : 4rem;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    padding: 3rem 0;
    position: relative;

}

.prod:last-of-type{
    border-bottom: none;
}

.prod p{
    margin: 0 0 1rem 0;
}

.nombre{
    font-size: 2.5rem;
    font-weight: 700;
}

.cantidad{
display: flex;
align-items: center;
gap: 1rem;
margin-bottom: 1rem;
font-size: 1.5rem;
font-weight: 700;
}

.cantidad p{
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.select{
    all : unset;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 1px solid #e1e1e1;
    flex: 1;
    text-align: center;
    border-radius: 1rem;
}

.precio{
    
    font-weight: 700;
    color: var(--primary)
}

.precio span{
    font-size: 2.2rem;
}

.subtotal{
        font-weight: 700;
    }
.subtotal span{
    font-size: 2.2rem;
}

.eliminar{
    all:unset;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 3rem ;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.eliminar:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: var(--blanco);
}

.resumen{
    background-color: #f9f9f9;
    padding: 3rem;
    border-radius: 1rem;

}